@charset "utf-8";
@font-face{
	font-family:'GeoSlab';
	src:url('GeoSlab.ttf');
}
@font-face{
	font-family:'NewsGothBT';
	src:url('NewsGothBT.ttf');
}
:root{
	--branco_claro: #fafafa;
	--branco_escuro: #f0f0f0;
	--preto: #29221c;
	--azul: #1CB3AE;
}
*{
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
	font-family: NewsGothBT;
	font-size: 23px;
}
body{
	color: var(--preto);
}
section{
	width: 100%;
	position: relative;
	box-shadow: 0 3px var(--azul) inset;
	background-color: var(--branco_claro);
	padding: 6% 0;
}
section:nth-child(odd){
	background-color: var(--branco_escuro);
}
section::before, section::after{
	content: "";
	position: absolute;
	left: calc(50% - 1em);
	top: 0;
	width: 0;
	height: 0;
	border: 1em solid;
	border-color: var(--azul) transparent transparent;
}
section::after{
	top: -3px;
	border-color: var(--branco_escuro) transparent transparent;
}
section:nth-child(odd)::after{
	border-color: var(--branco_claro) transparent transparent;
}
#quem_somos::before, #quem_somos::after{
	content: unset;
}
section h1::before, section h1::after{
	content: "";
	background-color: var(--preto);
	max-width: 20%;
	height: 2px;
	margin: 0 1em;
	flex: 1;
}
section h1{
	font-family: GeoSlab;
	font-size: 2.2em;
	color: var(--preto);
	text-align: center;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}
section h2{
	font-family: GeoSlab;
	font-size: 1.2em;
	text-align: center;
	color: var(--azul);
	font-weight: normal;
	padding-bottom: 3%;
}
section p{
	padding: 0 10%;
	text-align: justify;
	text-indent: 7%;
	line-height: 1.8;
}
.galeria{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 6%;
}
.galeria > *{
	min-width: 200px;
	height: 200px;
	flex: 1;
	margin: 10px;
	box-shadow: 0 3px var(--azul);
	object-fit: cover;
	background: var(--azul);
}
ul{
	text-align: center;
	list-style-type: none;
}
/*INICIO - MENU*/
nav{
	font-family: GeoSlab;
	right: -10em;
	z-index: 10;
	position: fixed;
	transition: .75s;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-top: 90px;
	height: 100%;
	box-sizing: border-box;
}
/* .menu_aberto e .fundo_visivel são adicionados via js*/
nav.menu_aberto a, #tres_barrinhas.fundo_visivel{
	background-color: rgba(41,34,28,0.7);
}
nav.menu_aberto{
	right: 0em;
}
#tres_barrinhas{
	position: fixed;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 90px;
	color: white;
	transition: .3s;
	border-radius: 1em;
	width: 1em;
	height: 1em;
	right: 0;
	top: 0;
}
nav a{
	color: white;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	border-radius: .5em 0 0 .5em;
	padding: 0.5em;
	transition: background .75s;
}
nav a:hover{
	box-shadow: 0 -10px 0 -5px var(--azul) inset;
}
nav a::before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid;
	box-sizing: border-box;
	margin-right: 20px;
	transform: rotate(45deg);
	transition: .25s;
	position: relative;
	top: -5px;
}
nav a:hover::before{
	transform: rotate(135deg);
	border: 1px solid var(--azul);
	background-color: var(--azul);
	box-shadow: 0 0 0 2px var(--azul);
}
/*FIM CONFIGS MENU*/

/*INICIO - SECTION HOME*/
@keyframes trocaImages {
	0%{background-image: url(imagens/home/slide1.jpg);}
	33%{background-image: url(imagens/home/slide2.jpg);}
	66%{background-image: url(imagens/home/slide3.jpg);}
	100%{background-image: url(imagens/home/slide1.jpg);}
}
#home{
	margin: 0; 
	padding: 0;
	min-height: 100%;
	background-color: var(--azul);
	background-image: url(imagens/home/slide1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: trocaImages 10s infinite;
}
#home::before{
	content: "";
	position: absolute;
	background:
	repeating-linear-gradient(black, transparent 1px, transparent 3px),
	repeating-linear-gradient(90deg, black, transparent 1px, transparent 3px);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
}
#home::after{
	content: "";
	position: absolute;
	top: 9%;
	left: 7%;  
	background-image: url(imagens/home/carimbo_nn.png);
	width: 4.5em;
	height: 5.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: none;
}
#home #texto_na_home{
	bottom: 3em;
	position: absolute;
	width: 100%;
}
#home h1::before, #home h1::after{
	content: unset;
}
#home h1{
	font-size: 3em;
	color: var(--branco_claro);
	text-shadow: 3px 3px 6px #000;
	font-weight:normal;
}
#home h2{
	color: var(--branco_claro);
	text-shadow: 3px 3px 6px #000;
	padding: 0;
}
/*FIM - SECTION HOME*/

/*INICIO SECTION SERVICOS*/
#servicos{
	text-align: center;
}
#servicos a{
	color: var(--azul);
	padding: .5em 1em;
	border: 2px solid var(--azul);
	display: inline-block;
	margin-top: 1em;
	transition: .25s;
}
#servicos a:hover{
	box-shadow: 0 2px var(--azul);
}
/*FIM DA SECTION SERVICOS*/

/*INICIO SECTION EVENTOS*/
#eventos ul{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: var(--branco_claro);
}
/*FIM DA SECTION EVENTOS*/

/*INICIO SECTION CONTATOS*/
#contatos li{
	padding: 1em;
}
#contatos li img{
	margin-right: 1em;
	vertical-align: middle;
}
#telefones{
	display: inline-grid;
	grid-template-columns: auto auto;
}
#telefones img{
	grid-row: 1 / 4;
	justify-self: end;
	align-self: center;
}
.links_sociais{
	text-align: center;
}
.links_sociais a{
	display: inline-block;
	margin: 20px;
	padding: 10px;
	transition: 0.1s;
}
.links_sociais a:hover{transform: scale(1.2);}
.links_sociais #facebook{
	background-color: #17528C;
}
.links_sociais #instagram{
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.links_sociais a img{
	filter: invert(1);
}